$primary: #6a6a6a;
$description: #767676;
$light: #ffffff;
$secondary: #e2e2e2;
$tertiary: #e5e5e5;
$square: #F4F3EE;
$navbar-light-color:#0a0a0a;
$background: #e5e5e5;
$highlight: #c32c72;


/*$navbar-light-active-color: $primary;*/

$background-light: #ffffff;
